.response-container{
background-color: #94acb3;
height: 150px;
border-radius: 10px;
}
.to_make_commond_style{
    margin-top: 15px;
    color: #efefef;
    padding-top: 5px;
    padding-left: 350px; 
    font-size: 30px;
}
