body{
    background-color: #efefef;
}
h2{
    justify-content: center;
    text-indent: 25%;
    text-decoration: underline;
    color: #6da0ae;
}
.date-and-time-container{
    display: flex;
    justify-content: space-between;
}
.info >#send{
    margin-top: 15px;
    display:block;
    justify-content: space-between;
}
input{
    width: 150px;
    height: 25px;
    border: 2px #6da0ae solid;
    border-radius: 15px;
    text-indent: 15%;
    background-color: #efefef;

}
.time-container{
    width: 50%;
    display: inline-block;

}
.date-container{
    width: 50%;
}
.response-container{
background-color: #94acb3;
height: 150px;
border-radius: 10px;
}
.to_make_commond_style{
    margin-top: 15px;
    color: #efefef;
    padding-top: 5px;
    padding-left: 350px; 
    font-size: 30px;
}
#response, #for_display_completion{
    word-spacing: 15px;
}
/* il reste à mettre de l'espace entre les mots du compte à rebours et centrer le bouton lancer */